.link-card {
  text-align: center;
  align-items: center;
  text-decoration: none;
  color: black;
  background-color: rgb(151, 192, 208);
  border-radius: .5rem;
  box-shadow: 0 0 20px #424242;
}

.link-card[data-disabled=true] {
  cursor: not-allowed;
  pointer-events: none;
  background-color: rgb(118, 149, 161);
  box-shadow: none;
}